.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.side {
  color: cadetblue;
}